<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{ 'Локальная сеть общежитий БГУИР'|trans }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css" />
	{#<link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />#}
	<link rel="stylesheet" type="text/css" href="/css/style.css" />

	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/application.js"></script>

	<link rel="stylesheet" type="text/css" href="/fancybox/jquery.fancybox.css" />
	<script type="text/javascript" src="/fancybox/jquery.fancybox.pack.js"></script>

	<script type="text/javascript">
		$(document).ready(function(){
			if(getParameterByName('error')){
				bootstrapAlert(getParameterByName('error'), 'danger');
			}

			$('#tabs a').click(function (e) {
				e.preventDefault();
				window.location.hash = $(this).attr('href');
				$(this).tab('show')
			});

			var tab = window.location.hash;
			if(!tab){
				tab = {{ (app.user ? '#cabinet' : '#login')|json_encode|raw }};
			}

			$('#tabs a[href="' + tab + '"]').tab('show');
		});
	</script>

	{% block scripts %}
	{% endblock %}
</head>

<body>

<div class="container">
	<div class="page-header">
		<h1>
			<div style="float: right">
				<a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({_locale: 'ru'})) }}" title="ru"><img src="/img/flag/Russia.png" alt="ru"></a>
				<a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({_locale: 'en'})) }}" title="en"><img src="/img/flag/United-Kingdom.png" alt="en"></a>
			</div>
			{% block page_title %}
				<a href="/">{{ 'Локальная сеть общежитий БГУИР'|trans }}</a>
			{% endblock %}
		</h1>
	</div>

	<ul class="nav nav-tabs" id="tabs">
		{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
			<li><a href="{{ app.request.get('_route') == 'index' ? '' : path('index') }}#cabinet" data-toggle="tab">{{ 'Личный кабинет'|trans() }}</a></li>
			<li><a href="{{ app.request.get('_route') == 'index' ? '' : path('index') }}#settings" data-toggle="tab">{{ 'Настройки'|trans() }}</a></li>
			<li><a href="{{ app.request.get('_route') == 'index' ? '' : path('index') }}#tickets" data-toggle="tab">{{ 'Заявки'|trans() }}</a></li>
		{% else %}
			<li><a href="{{ app.request.get('_route') == 'index' ? '' : path('index') }}#login" data-toggle="tab">{{ 'Авторизация'|trans() }}</a></li>
			<li><a href="{{ app.request.get('_route') == 'index' ? '' : path('index') }}#register" data-toggle="tab">{{ 'Регистрация'|trans() }}</a></li>
		{% endif %}

		{% if is_granted('ROLE_ADMIN') %}
			<li><a href="{{ url('sonata_admin_dashboard') }}">{{ 'Админка'|trans() }}</a></li>
		{% endif %}

		{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
			<li><a href="{{ url('fos_user_security_logout') }}">{{ 'Выход'|trans() }}</a></li>
		{% endif %}
	</ul>

	<script>
		$('.nav-tabs li a').click(function(){
			var href = $(this).attr('href');
			if(href[0] != '#') {
				window.location.href = href;
				event.stopPropagation();
				return false;
			}
		});
	</script>

	{% block content %}
	{% endblock %}
</div>

<div id="popup-terms" style="display: none;">Договор</div>

<div id="alert_placeholder"></div>

</body>

</html>